html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='apple-mobile-web-app-capable' content='yes')
    link(rel='stylesheet' href='index.css')
    script(src='index.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' href='favicon.ico?train' type='image/x-icon')
    link(rel='apple-touch-icon' sizes='152x152' href='images/icon-152.png')
    link(rel='apple-touch-icon' sizes='167x167' href='images/icon-167.png')
    link(rel='apple-touch-icon' sizes='180x180' href='images/icon-180.png')
    link(rel='apple-touch-icon' sizes='192x192' href='images/icon-192.png')
    link(rel='apple-touch-icon' sizes='512x512' href='images/icon-512.png')
  body
    noscript
      p Requires javascript
    p No trains. Refresh page to start scan.
    template#train
      .train
        section
          input(type='text' name='name' maxlength=14 required=true placeholder='Name…' pattern='[\x20-\x7F]+')
          meter.battery(min=0 max=100 low=25)
        header.flex
          h3 Motor
        section.motor.flex
          div
            input.button.forward.repeater(type='radio' name='direction' value='forward')
            label Forward
          div
            input.button.stop(type='radio' name='direction' value='none' checked=true)
            label Stop
          div
            input.button.reverse.repeater(type='radio' name='direction' value='reverse')
            label Reverse
          input.throttle(type='range' min=30 max=80)
        header.flex
          h3 Lights
          input.switch(type='checkbox' name='mute' checked=true)
          label
          label Announce Colors
        section.lights.flex
          each color in colors
            div
              input.button(class=color type='radio' name='color' value=color)
              label=color
        header.flex
          h3 Actions
          input.switch(type='checkbox' name='action' checked=true)
          label
          label Enable Action Bricks
        section.flex
          // div
          //  button.button.refill
          //  label Refill
          div
            button.button.sound(value='horn')
            label Horn
          div
            button.button.sound(value='steam')
            label Steam
          div
            button.button.sound(value='brake')
            label Brake
          // div
          //   button.button.sound(value='station_departure')
          //   label Steam
